alembic==1.18.4
chemicals==1.5.2
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
filelock==3.20.0
fluids==1.3.1
fonttools==4.61.0
future==1.0.0
greenlet==3.5.2
hyperopt==0.2.7
joblib==1.5.2
juliacall==0.9.26
juliapkg==0.1.22
kiwisolver==1.4.9
lightgbm==4.6.0
llvmlite==0.46.0
Mako==1.3.12
MarkupSafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.6
numba==0.63.1
numpy==2.3.5
openpyxl==3.1.5
optuna==4.9.0
packaging==25.0
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
py4j==0.10.9.9
pyaml==25.7.0
pyparsing==3.2.5
pysr==1.5.9
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.8.0
scikit-optimize==0.10.2
scipy==1.16.3
seaborn==0.13.2
semver==3.0.4
shap==0.50.0
six==1.17.0
slicer==0.0.8
SQLAlchemy==2.0.51
statsmodels==0.14.6
sympy==1.14.0
thermo==0.6.1
threadpoolctl==3.6.0
tomli==2.3.0
tomlkit==0.13.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
xgboost==3.1.2
